body {
  padding: 50px;
  background-color: azure;
}

h1 {
  color: brown;
}

h3 {
  color: rgb(178, 178, 182);
  background-color: rgb(27, 26, 26);
}

h4 {
  color: rgb(221, 25, 68);
}

p {
  color: aqua;
  padding: 10px;
  background-color: rgb(116, 110, 110);
}